# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/
build/

# Local environment & cache files
.env
.env*.local
.clip_cache/
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Operating system files
.DS_Store
Thumbs.db
